# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/loopnet-extact_zip/
/loopnet-34708fe0fe8abc593d51d13857eda8049cc0b7c2/
/homez/
/components.old/
/app.old/
/lib.old/
/homez/